# OS
#
.DS_Store

# Xcode
#
# Build generated
#
build/
DerivedData/

xcuserdata

# Obj-C/Swift specific
#
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
Example/Pods

# Fastlane
#
fastlane/README.md
fastlane/report.xml
fastlane/build
fastlane/test_output
output/

# Bundler
#
.bundle/
vendor/bundle

# Rswift
#
R.generated.swift
*-Rswift-InputFiles.xcfilelist

# Rugby
.rugby/

# ReferenceImages
UI-Tests-Resources